<h1>Add a new album</h1>
<form action='/albums' method='post'>
  <label for='title'>Album Title</label>
  <input name='title' id='title' type='text'>
  <button type='submit'>Add Album</button>
</form>
